
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to top, #0067E0, #07A4FD);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    padding: 25px;
    width:90%;
    max-width: 350px;
    max-height: 500px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column
}

.head {
    padding-bottom: 15px;
    border-bottom: solid 1.5px #EEEEEE;
}

.create-todo {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    min-height: 35px;
}
.create-todo input {
    width: 85%;
    padding: 0 10px;
    background: white;
    border-radius: 6px;
    border: none;
}
.create-todo input:focus {
    outline: solid 3px #E3E3E3;
}
.create-todo button {
    width: 34px;
    border-radius: 6px;
    background: #07A4FD;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition:0.1s;
}
.create-todo button:focus {
    outline: solid 4px #07A4FD50;
}